<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Awesome Notes - Error occurred</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>       
    <link href="../static/css/home.css"
          th:href="@{/css/home.css}"
          rel="stylesheet" media="screen" />
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</head>
<body>
<!-- Header -->


<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
	 <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <table class="tab" th:object="${customError}">
        					<tr>
            					<td class="first">
            					<p style="font-size: 20; color: red;" th:utext="*{status} + ' - ' + *{error}"></p>
            					<p style="font-size: 15;" th:utext="*{message}"></p>
            					</td>
            					<td class="first"><img th:src="@{/images/customErrorImage.png}" class="img-responsive center-block"/></td>
        					</tr>
					</table>
				<a th:href="@{/}">
          			<button type="button" class="btn btn-lg">
                	<span class="glyphicon glyphicon-home"></span> Home
                </button>
                </a>
                    </div>  
        </div>
    </div>
</th:block>
</body>

<style>
.tab {border-collapse:collapse;}
.tab .first {border-top:1px solid #CCC;box-shadow: inset 0 1px 0 #CCC;}​
</style>

</html>